.slider {
    padding-top: 54px;
    padding-bottom: 147px;
    background-color: #191919;
}
.slider__inner {
    width: 100%;
    overflow: hidden;
    padding: 0;
    border-radius: 21px;
}
.slider__title {
    padding: 0;
    width: 337px;   
    position: absolute;
    top: 35px;
    left: 80px;
    
    h2 {
        font-weight: 400;
        font-size: 58px;
        line-height: 60px;
        color: #C9AC8C;
    }
}
.slider__indi {
    justify-content: start;
    margin-left: 80px;
    bottom: 58px;
    button{
        border: 1px solid #000;
    }
}